BasedOnStyle: Google
AlignConsecutiveMacros: 'true'
AllowShortFunctionsOnASingleLine: None
BitFieldColonSpacing: After
AlwaysBreakBeforeMultilineStrings: 'false'
AllowShortBlocksOnASingleLine: 'true'
AllowShortEnumsOnASingleLine: 'false'
Cpp11BracedListStyle: 'false'
DerivePointerAlignment: 'false'
PointerAlignment: Right
IncludeBlocks: Merge
QualifierAlignment: Right