BasedOnStyle: Google
IncludeBlocks: Merge
AllowShortBlocksOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: 'false'
DerivePointerAlignment: 'false'
PointerAlignment: Right
QualifierAlignment: Right